<%= form_for([erp_contacts, :backend, contact], html: {class: "form-horizontal"}) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6 form-control-mb-10">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-4">
                                <%= erp_form_control('image', {
                                    img_src: contact.image_url.medium,
                                    name: 'contact[image_url]',
                                    width: 150,
                                    height: 150,
                                    button: 'btn-no'
                                }) %>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <h3 class="col-md-12 profile-desc-title bold font-blue-madison"><%= contact.contact_name %></h3>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label class="col-md-6 control-label"><%= t('.code') %>:</label>
                                    <div class="col-md-6 control-label">
                                        <span class="text-semibold">
                                            <%= contact.code %>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label"><%= t('.birthday') %>:</label>
                                    <div class="col-md-6 control-label">
                                        <span class="text-semibold">
                                            <%= contact.birthday %>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label"><%= t('.gender') %>:</label>
                                    <div class="col-md-6 control-label">
                                        <span class="text-semibold">
                                            <%= t(contact.gender) %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label"><%= t('.address') %>:</label>
                                    <div class="col-md-8 control-label">
                                        <span class="text-semibold">
                                            <%= display_contact_address(contact) %>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-control-mb-10">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.phone') %>:</label>
                            <div class="col-md-8 control-label">
                                <span class="text-semibold">
                                    <%= contact.phone %>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.email_address') %>:</label>
                            <div class="col-md-8 control-label">
                                <span class="text-semibold">
                                    <%= contact.email %>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.website') %>:</label>
                            <div class="col-md-8 control-label">
                                <span class="text-semibold">
                                    <%= contact.website %>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.staff') %>:</label>
                            <div class="col-md-8 control-label">
                                <span class="text-semibold">
                                    <%= contact.staff_name %>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.contact_group') %>:</label>
                            <div class="col-md-8 control-label">
                                <span class="text-semibold">
                                    <%= contact.contact_group_name %>
                                </span>
                            </div>
                        </div>
                        <% if contact.contact_type == Erp::Contacts::Contact::TYPE_COMPANY %>
                            <div class="form-group">
                                <label class="col-md-4 control-label"><%= t('.tax') %>:</label>
                                <div class="col-md-8 control-label">
                                    <span class="text-semibold">
                                        <%= contact.tax %>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label"><%= t('.fax') %>:</label>
                                <div class="col-md-8 control-label">
                                    <span class="text-semibold">
                                        <%= contact.fax %>
                                    </span>
                                </div>
                            </div>
                        <% end %>
                        <div class="form-group">
                            <label class="col-md-4 control-label"><%= t('.tags') %></label>
                            <div class="col-md-8 control-label">
                                <% contact.tags.each do |t| %>
                                    <span class="tag-border-radius label label-default"><%= t.name %></span>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_5_1" data-toggle="tab"> <%= t('.contacts_addresses') %> </a>
                                </li>
                                <% if Erp::Core.available?("currencies") %>
                                <li>
                                    <a href="#tab_5_2" data-toggle="tab"> <%= t('.payments_prices') %> </a>
                                </li>
                                <% end %>
                                <% if Erp::Core.available?("taxes") %>
                                <li>
                                    <a href="#tab_5_3" data-toggle="tab"> <%= t('.taxes_commission') %> </a>
                                </li>
                                <% end %>
                                <li>
                                    <a href="#tab_5_4" data-toggle="tab"> <%= t('.notes') %> </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_5_1">
                                    <% contact.contacts.each do |child_contact| %>
                                        <%= render 'backend/contacts_contacts/contact', contact: child_contact, editable: false %>
                                    <% end %>
                                </div>
                                <% if Erp::Core.available?("currencies") %>
                                <div class="tab-pane" id="tab_5_2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label><%= t('.payment_method') %>:</label>
                                                <div>
                                                    <span class="text-semibold">
                                                        <%= contact.payment_method_name %>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label><%= t('.payment_term') %>:</label>
                                                <div>
                                                    <span class="text-semibold">
                                                        <%= contact.payment_term_name %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label><%= t('.price_term') %>:</label>
                                                <div>
                                                    <span class="text-semibold">
                                                        <%= contact.price_term_name %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <% if Erp::Core.available?("taxes") %>
                                <div class="tab-pane" id="tab_5_3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label><%= t('.tax') %>:</label>
                                                <div>
                                                    <span class="text-semibold">
                                                        <%= contact.tax_name %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label><%= t('.commission_percent') %>:</label>
                                                <div>
                                                    <span class="text-semibold">
                                                        <%= contact.commission_percent %>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% end %>
                                <div class="tab-pane" id="tab_5_4">
                                    <span class="text-semibold"><%= contact.note %></span>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>