<div class="alert alert-block custom-box-shadow">
    <input type='hidden' name='contact[contact_ids][]' value='<%= contact.id %>'>
    <div class="clearfix">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="<%= url_for(erp_contacts.edit_backend_contact_path(contact)) %>">
                    <img class="media-object" src="/backend/assets/pages/media/users/avatar80_3.jpg" style="width: 85px; height: 85px;"> </a>
                <div class="media-body">
                    <div class="sm-title"><a href="#"><strong><%= link_to contact.name, erp_contacts.edit_backend_contact_path(contact) %></strong></a></div>
                    <div class="sm-title"><%= contact.job_position %></div>
                    <div class="sm-title"><%= contact.email %></div>
                    <div class="sm-title">
                        <%= contact.phone.present? ? t('contacts.contact.phone') + ': ' + contact.phone : "" %>
                    </div>
                    <div class="sm-title">
                        <%= contact.mobile.present? ? t('contacts.contact.mobile') + ': ' + contact.mobile : "" %>
                    </div>
                </div>
                <br />
                <a class="btn btn-sm blue addablelist-edit"
                    data-url="<%= erp_contacts.edit_backend_contact_contact_url(contact_id: (contact.parent_id.present? ? 0 : contact.parent_id), id: contact.id) %>"
                    data-title="<%= t('contacts.contacts.edit') %>"
                    data-selector=".edit_contact"
                >
                    <i class="fa fa-pencil"></i> <%= t('contacts.contact.edit') %>
                </a>
                <a class="btn btn-sm btn-danger addablelist-delete"
                    data-url="<%= erp_contacts.backend_contact_contact_url(contact_id: contact.parent_id, id: contact.id) %>"
                    data-method="DELETE"
                >
                    <i class="fa fa-close"></i> <%= t('contacts.contact.delete') %>
                </a>
            </li>
        </ul>
    </div>
</div>