<%= form_for([erp_contacts, :backend, tag]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <%= erp_form_control("password", {
                    name: 'tag[name]',
                    id: 'tag_name',
                    label: t('contacts.tag.name'),
                    help: t('contacts.tag.textfield_required'),
                    placeholder: t('contacts.tag.placeholder_enter_name')
                }) %>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("select", {
                    name: 'tag[name]',
                    id: 'tag_name',
                    label: t('contacts.tag.name'),
                    data: [
                        {  }
                    ]
                }) %>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <%= erp_form_control("submit", { name: t("contacts.tag.submit") }) %>
                <%= erp_form_control("cancel", { name: t("contacts.tag.cancel"), href: erp_contacts.backend_tags_path }) %>
            </div>
        </div>
    </div>
<% end %>
