<% content_for :page_toolbar do %>
    <div class="btn-group">
        <%= link_to (t('contacts.tag.create') + ' <i class="fa fa-plus"></i>').html_safe, erp_contacts.new_backend_tag_path, class: "btn btn-sm sbold green" %>
    </div>
<% end %>

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <%= link_to (t('contacts.tag.create') + ' <i class="fa fa-plus"></i>').html_safe, erp_contacts.new_backend_tag_path, class: "btn sbold green" %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                          Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;"><i class="fa fa-print"></i> Print</a></li>
                            <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Save as PDF</a></li>
                            <li><a href="javascript:;"><i class="fa fa-file-excel-o"></i> Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="table-scrollable scrollable-2">
            <table class="table table-hover table-light table-checkable">
                <thead>
                    <tr class="uppercase">
                        <th class="center">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th> <%= t('contacts.tag.name') %> </th>
                        <th> <%= t('contacts.tag.status') %> </th>
                        <th> <%= t('contacts.tag.creator') %> </th>
                        <th> <%= t('contacts.tag.created_at') %> </th>
                        <th> <%= t('contacts.tag.actions') %> </th>
                    </tr>
                </thead>
                <tbody>
                    <% @tags.each do |tag| %>
                    <tr>
                        <td>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes" value="1" />
                                <span></span>
                            </label>
                        </td>
                        <td> <%= link_to tag.name, erp_contacts.edit_backend_tag_path(tag) %> </td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                        <td> Brain </td>
                        <td> <%= tag.created_at.strftime("%d/%m/%Y")%> </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li><%= link_to "<i class=\"fa fa-edit\"></i> #{t('contacts.tag.edit')}".html_safe, erp_contacts.edit_backend_tag_path(tag) %></li>
                                    <li><%= link_to "<i class=\"fa fa-check\"></i> #{t('contacts.tag.active')}".html_safe, "" %></li>
                                    <li class="divider"></li>
                                    <li><%= link_to "<i class=\"fa fa-remove\"></i> #{t('contacts.tag.delete')}".html_safe, erp_contacts.backend_tag_path(tag), method: :delete, data: {confirm: 'Are you sure?'} %></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div><%= page_entries_info @tags %></div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="pagination-style">
                    <%= will_paginate @tags, previous_label: '<i class="fa fa-angle-left"></i>'.html_safe, next_label: '<i class="fa fa-angle-right"></i>'.html_safe, renderer: BootstrapPagination::Rails %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->