<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <%= link_to 'Create tag <i class="fa fa-plus"></i>'.html_safe, erp_contacts.new_backend_tag_path, class: "btn sbold green" %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                          Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:;"><i class="fa fa-print"></i> Print</a></li>
                            <li><a href="javascript:;"><i class="fa fa-file-pdf-o"></i> Save as PDF</a></li>
                            <li><a href="javascript:;"><i class="fa fa-file-excel-o"></i> Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="">
            <thead>
                <tr>
                    <th>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            <span></span>
                        </label>
                    </th>
                    <th><%= t(:tag_name) %></th>
                    <th><%= t(:creator) %></th>
                    <th><%= t(:archive) %></th>
                    <th><%= t(:created_at) %></th>
                    <th><%= t(:actions) %></th>
                </tr>
            </thead>
            <tbody>
                <% (1..5).each do |tag| %>
                <tr class="odd gradeX">
                    <td>
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="checkboxes" value="1" />
                            <span></span>
                        </label>
                    </td>
                    <td><%= link_to "Tag", "" %></td>
                    <td>Hung Nguyen</td>
                    <td>
                        <span class="label label-sm label-success">Archived</span>
                    </td>
                    <td class="center">24/11/2016</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-left" role="menu">
                                <li><a href="javascript:;"><i class="icon-docs"></i> New Post</a></li>
                                <li><a href="javascript:;"><i class="icon-tag"></i> New Comment</a></li>
                                <li><a href="javascript:;"><i class="icon-user"></i> New User</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;"><i class="icon-flag"></i> Comments<span class="badge badge-success">4</span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->