<li class="nav-item <%= "active open" if ["erp/contacts/backend/contacts", "erp/contacts/backend/contact_groups", "erp/contacts/backend/titles", "erp/contacts/backend/tags"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="icon-users"></i>
        <span class="title"><%= t('.contacts') %></span>
        <% if ["erp/contacts/backend/contacts", "erp/contacts/backend/contact_groups", "erp/contacts/backend/titles", "erp/contacts/backend/tags"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_contacts.backend_contacts_path %>" class="nav-link">
                <span class="title"><%= t('.contact') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_contacts.backend_messages_path %>" class="nav-link">
                <span class="title"><%= t('.message') %></span>
            </a>
        </li>
    </ul>
</li>