<li class="classic-menu-dropdown <%= "active" if ["erp/contacts/backend/contacts", "erp/contacts/backend/titles", "erp/contacts/backend/tags"].include?(params[:controller]) %>" aria-haspopup="true">
    <a href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
        <%= t(:contact) %>
        <% if ["erp/contacts/backend/contacts", "erp/contacts/backend/titles", "erp/contacts/backend/tags"].include?(params[:controller]) %>
            <span class="selected"></span>
        <% end %>
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-left">
        <li class="<%= "active" if ["erp/contacts/backend/contacts"].include?(params[:controller]) %>">
            <a href="<%= erp_contacts.backend_contacts_path %>"><i class="fa fa-users"></i> <%= t(:contacts) %></a>
        </li>
        <li class="<%= "active" if ["erp/contacts/backend/titles"].include?(params[:controller]) %>">
            <a href="<%= erp_contacts.backend_titles_path %>"><i class="fa fa-bookmark-o"></i> <%= t(:titles) %></a>
        </li>
        <li class="<%= "active" if ["erp/contacts/backend/tags"].include?(params[:controller]) %>">
            <a href="<%= erp_contacts.backend_tags_path %>"><i class="fa fa-tags"></i> <%= t(:tags) %></a>
        </li>
    </ul>
</li>