<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th><%= t('.email') %></th>
            <% end %>
            <% if get_columns(params).include?("phone") %>
                <th>
                    <%= t('.phone') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("message") %>
                <th>
                    <%= t('.message') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_contacts_messages.created_at'>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% @messages.each do |message| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: message.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><span class="title"><%= message.contact_name %></span></td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                    <td><%= message.contact_email %></td>
                <% end %>
                <% if get_columns(params).include?("phone") %>
                    <td><%= message.contact_phone %></td>
                <% end %>
                <% if get_columns(params).include?("message") %>
                    <td><%= message.message %></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <td><%= message.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                              text: '<i class="fa fa-trash"></i> '+t('.delete'),
                              url: erp_contacts.backend_message_path(message),
                              data_method: 'DELETE',
                              data_confirm: t('.delete_confirm'),
                              class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<% if @messages.empty? %>
    <div class="datalist-empty-line"><%= t('.no_matching_records_found') %></div>
<% end %>
        
<%= erp_datalist_pagination(@messages) %>
