<%= form_for([erp_contacts, :backend, title]) do |f| %>
    <div class="form-body">
        <%= erp_form_control("text", {
            name: 'title[title]',
            value: title.title,                   
            label: t(:title),
            help: 'Title is required.....',
            placeholder: "Enter title....."
        }) %>
        
        <%= erp_form_control("text", {
            name: 'title[abbreviation]',
            value: title.abbreviation,                   
            label: t(:abbreviation),
            help: 'Abbreviation is required.....',
            placeholder: "Enter abbreviation....."
        }) %>

    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <%= button_tag "<i class=\"fa fa-save\"></i> #{t(:submit)}".html_safe, class: "btn sbold blue"%>
                <%= link_to "<i class=\"fa fa-times\"></i> #{t(:cancel)}".html_safe, erp_contacts.backend_titles_path, class: "btn sbold red" %>
            </div>
        </div>
    </div>
<% end %>