<div class="">
    <table class="table table-advance table-hover table-striped table-checkable order-column" id="">
        <thead>
            <tr>
                <th width='1%'>
                    <%= erp_datalist_check_all %>
                </th>
                <% if get_columns(params).include?("title") %>
                    <th>
                        <%= t('contacts.titles.title') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("abbreviation") %>
                    <th>
                        <%= t('contacts.titles.abbreviation') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("status") %>
                    <th>
                        <%= t('contacts.titles.status') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <th>
                        <%= t('contacts.titles.creator') %>
                    </th>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                    <th>
                        <%= t('contacts.titles.created_at') %>
                    </th>
                <% end %>
                <th width="7%"><%= t('contacts.titles.actions') %></th>
            </tr>
        </thead>
        <tbody>
            <% if @titles.each do |title| %>
                <tr class="odd gradeX">
                    <td>
                        <%= erp_datalist_check_row(id: title.id) %>
                    </td>
                    <% if get_columns(params).include?("title") %>
                        <td><%= link_to title.title, erp_contacts.edit_backend_title_path(title) %></td>
                    <% end %>
                    <% if get_columns(params).include?("abbreviation") %>
                        <td><%= title.abbreviation %></td>
                    <% end %>
                    <% if get_columns(params).include?("status") %>
                    <td>
                        <% if title.archived == true %>
                        <span class="label label-sm label-danger"><%= t('contacts.titles.archived') %></span>
                        <% else %>
                        <span class="label label-sm label-success"><%= t('contacts.titles.active') %></span>
                        <% end %> 
                    </td>
                    <% end %>
                    <% if get_columns(params).include?("creator") %>
                        <td></td>
                    <% end %>
                    <% if get_columns(params).include?("created_at") %>
                        <td class="center"><%= title.created_at.strftime("%d/%m/%Y") %></td>
                    <% end %>
                    <td>
                        <%= erp_datalist_row_actions(
                            [
                                {
                                    text: '<i class="fa fa-edit"></i> '+t('contacts.titles.edit'),
                                    href: erp_contacts.edit_backend_title_path(title)
                                },
                                {
                                    text: '<i class="fa fa-check"></i> '+t('contacts.titles.archive'),
                                    href: erp_contacts.archive_backend_titles_path(id: title),
                                    data_method: 'PUT',
                                    class: 'ajax-link'
                                },
                                {
                                    text: '<i class="fa fa-exclamation"></i> '+t('contacts.titles.unarchive'),
                                    href: erp_contacts.unarchive_backend_titles_path(id: title),
                                    data_method: 'PUT',
                                    class: 'ajax-link'
                                },
                                {
                                    divider: true
                                },
                                {
                                    text: '<i class="fa fa-trash"></i> '+t('contacts.titles.delete'),
                                    href: erp_contacts.backend_title_path(title),
                                    data_method: 'DELETE',
                                    data_confirm: t('contacts.titles.delete_confirm'),
                                    class: 'ajax-link'
                                }
                            ]
                        ) %>
                    </td>
                </tr>
            <% end.empty? %>
                <tr>
                    <td colspan="7"><%= t('contacts.titles.no_matching_records_found') %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
        
<%= erp_datalist_pagination(@titles) %>
