<%= form_for([erp_contacts, :backend, contact]) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-8">
                                <%= erp_form_control("radio", {
                                    name: 'contact[contact_type]',
                                    label: t('type'),
                                    value: @contact.contact_type,
                                    options: Erp::Contacts::Contact.get_type_options()
                                }) %>
                                <%= erp_form_control("text", {
                                    name: 'contact[name]',
                                    value: contact.name,
                                    label: 'Name',
                                    help: 'This field is required...',
                                    placeholder: 'Enter full name...',
                                    required: true,
                                    errors: contact.errors.full_messages_for(:name)
                                }) %>
                                <%= erp_form_control('select', {
                                    label: t('contacts.contact.company'),
                                    name: 'contact[company_id]',
                                    id: 'contact_company_id',
                                    options: [
                                                {value: 'CA', text: 'California'},
                                                {value: 'NV', text: 'Nevada'},
                                                {value: 'OR', text: 'Oregon'},
                                                {value: 'WA', text: 'Washington'}
                                             ]
                                }) %>
                            </div>
                            <div class="col-md-4">
                                <%= erp_form_control('image', {
                                    img_src: contact.image_url,
                                    name: 'contact[image_url]'
                                }) %>
                            </div>
                        </div>
                        
                        <%= erp_form_control('datetime', {
                            label: t('birthday'),
                            name: 'contact[birthday]',
                            value: contact.birthday
                        }) %>
                    
                        <%= erp_form_control("text", {
                            name: 'contact[address_1]',
                            value: contact.address_1,                   
                            label: t(:address_1),
                            help: 'This field is required...',
                            placeholder: "Enter address 1..."
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[address_2]',
                            value: contact.address_2,                   
                            label: t(:address_2),
                            help: 'This field is required...',
                            placeholder: "Enter address 2..."
                        }) %>
                            
                        <div class="row">
                            <div class="col-md-4">
                                <%= erp_form_control("text", {
                                    name: 'contact[city]',
                                    value: contact.city,                   
                                    label: 'City',
                                    placeholder: "Enter city..."
                                }) %>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    <select class="form-control select2" id="form_control_1">
                                        <option value=""></option>
                                        <option value="1">California</option>
                                        <option value="2">...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <%= erp_form_control("text", {
                                    name: 'contact[zip]',
                                    value: contact.zip,
                                    label: t('zip_code'),
                                    help: 'This field is required...',
                                    placeholder: "Enter ZIP Code..."
                                }) %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <select class="form-control select2" id="form_control_1">
                                    <option value=""></option>
                                    <option value="1">Vietnam</option>
                                    <option value="2">USA</option>
                                    <option value="1">England</option>
                                    <option value="2">Australia</option>
                                </select>
                            </div>
                        </div>
                       
                        <%= erp_form_control("text", {
                            name: 'contact[job_position]',
                            value: contact.job_position,                   
                            label: t(:job_position),
                            help: 'This field is required...',
                            placeholder: "E.g. Sales Director"
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[phone]',
                            value: contact.phone,                   
                            label: t(:phone),
                            help: 'This field is required...',
                            placeholder: "Enter phone number..."
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[mobile]',
                            value: contact.mobile,                   
                            label: t(:mobile),
                            help: 'This field is required...',
                            placeholder: "Enter mobile number..."
                        }) %>
                            
                        <%= erp_form_control("email", {
                            name: 'contact[email]',
                            value: contact.email,                   
                            label: t(:email_address),
                            help: "user@domain.com",
                            placeholder: "Enter your email...",
                            required: false,
                            errors: contact.errors.full_messages_for(:email)
                        }) %>
        
                        <%= erp_form_control("text", {
                            name: 'contact[website]',
                            value: contact.website,                   
                            label: t(:website),
                            help: 'This field is required...',
                            placeholder: "E.g. https://www.globalnaturesoft.com"
                        }) %>
        
                        <%= erp_form_control("text", {
                            name: 'contact[fax]',
                            value: contact.fax,
                            label: t(:fax),
                            help: 'This field is required...',
                            placeholder: "Enter fax..."
                        }) %>
                        
                        <%= erp_form_control("dataselect", {
                            name: 'contact[title_id]',
                            value: contact.title_id,
                            text: contact.display_title,
                            placeholder: '',
                            label: t(:title),
                            url: erp_contacts.dataselect_backend_titles_path(format: 'json'),
                            create: {
                                url: erp_contacts.new_backend_title_url,
                                title: 'Create new title',
                                container_selector: '.form-container',
                                input_selector: 'input[name="title[title]"]'
                            }
                        }) %>
        
                        <div class="form-group">
                            <label class="control-label">Tags</label>
                            <input type="text" class="form-control" value="" data-role="tagsinput" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tabbable-custom ">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_5_1" data-toggle="tab"> Contacts & Address </a>
                        </li>
                        <li>
                            <a href="#tab_5_2" data-toggle="tab"> Sales & Purchases </a>
                        </li>
                        <li>
                            <a href="#tab_5_3" data-toggle="tab"> Internal notes </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_5_1">
                            <h3 class="text-semibold"> Address 1 </h3>
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                        </div>
                        <div class="tab-pane" id="tab_5_2">
                            <p> Howdy, I'm in Section 2. </p>
                            <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. </p>
                            <p>
                                <a class="btn green" href="ui_tabs_accordions_navs.html#tab_5_2" target="_blank"> Activate this tab via URL </a>
                            </p>
                        </div>
                        <div class="tab-pane" id="tab_5_3">
                            <p> Howdy, I'm in Section 3. </p>
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                                eum iriure dolor in hendrerit in vulputate velit esse molestie consequat </p>
                            <p>
                                <a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_5_3" target="_blank"> Activate this tab via URL </a>
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                <h3>
                    <span aria-hidden="true" class="fa fa-sticky-note-o"></span> Internal notes
                </h3>
                <div class="tabbable-custom ">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_5_1">
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. </p>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: 'nút đang để test',
        class: ''
    }) %>
<% end %>