<%= form_for([erp_contacts, :backend, contact], html: {multipart: true}) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-4">
                                <%= erp_form_control('image', {
                                    img_src: contact.image_url.medium,
                                    name: 'contact[image_url]'
                                }) %>
                            </div>
                            <div class="col-md-8">
                                <%= erp_form_control("radio", {
                                    name: 'contact[contact_type]',
                                    label: t('contacts.contacts.type'),
                                    value: @contact.contact_type,
                                    options: Erp::Contacts::Contact.get_type_options()
                                }) %>
                                <%= erp_form_control("text", {
                                    name: 'contact[name]',
                                    value: contact.name,
                                    label: t('contacts.contacts.name'),
                                    placeholder: t('contacts.contacts.enter_full_name'),
                                    required: true,
                                    errors: contact.errors.full_messages_for(:name)
                                }) %>
                                <%= erp_form_control("dataselect", {
                                    name: 'contact[company_id]',
                                    value: contact.company_id,
                                    text: contact.display_company,
                                    label: t('contacts.contacts.company'),
                                    placeholder: t('contacts.contacts.select_company'),
                                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json'),
                                    create: {
                                        url: erp_contacts.new_backend_contact_url(contact_type: Erp::Contacts::Contact::TYPE_COMPANY),
                                        title: t('contacts.contacts.create'),
                                        container_selector: '.new_contact',
                                        input_selector: 'input[name="contact[name]"]',
                                        modal_size: "full"
                                    }
                                }) %>
                            </div>
                        </div>
                        
                        <%= erp_form_control('date', {
                            label: t('contacts.contacts.birthday'),
                            name: 'contact[birthday]',
                            value: contact.birthday,
                            placeholder: t('contacts.contacts.choose_birthday')
                        }) %>
                        
                        <div class="form-group">
                            <%= erp_form_control('select', {
                                label: t('contacts.contacts.gender'),
                                name: 'abc',
                                id: 'abc',
                                options: [
                                    {value: '', text: t('contacts.contacts.none')},
                                    {value: 'male', text: t('contacts.contacts.male')},
                                    {value: 'female', text: t('contacts.contacts.female')}    
                                ]
                            }) %>
                        </div>
                    
                        <%= erp_form_control("text", {
                            name: 'contact[address_1]',
                            value: contact.address_1,                   
                            label: t('contacts.contacts.address_1'),
                            placeholder: t('contacts.contacts.enter_address_1')
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[address_2]',
                            value: contact.address_2,                   
                            label: t('contacts.contacts.address_2'),
                            placeholder: t('contacts.contacts.enter_address_2')
                        }) %>
                        
                        <div class="form-group">
                            <%= erp_form_control('select', {
                                label: t('contacts.contacts.country'),
                                name: 'abc',
                                id: 'abc',
                                options: [
                                    {value: '', text: t('contacts.contacts.none')},
                                    {value: 'VI', text: 'Viet Nam'},
                                    {value: 'US', text: 'United States'},
                                    {value: 'EN', text: 'England'},
                                    {value: 'AU', text: 'Australia'}    
                                ]
                            }) %>
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4">
                                <%= erp_form_control("text", {
                                    name: 'contact[city]',
                                    value: contact.city,                   
                                    label: t('contacts.contacts.city'),
                                    placeholder: t('contacts.contacts.choose_city')
                                }) %>
                            </div>
                            <div class="col-md-4">
                                <%= erp_form_control('select', {
                                    label: t('contacts.contacts.state'),
                                    name: 'abc',
                                    id: 'abc',
                                    options: [
                                        {value: '', text: t('contacts.contacts.none')},
                                        {value: '1', text: 'Quận 1'},
                                        {value: '2', text: 'Quận 2'},
                                        {value: '3', text: 'Quận 3'},
                                        {value: '4', text: 'Quận 4'}
                                    ]
                                }) %>
                            </div>
                            <div class="col-md-4">
                                <%= erp_form_control("text", {
                                    name: 'contact[zip]',
                                    value: contact.zip,
                                    label: t('contacts.contacts.zip_code'),
                                    placeholder: t('contacts.contacts.enter_zip_code')
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'contact[job_position]',
                            value: contact.job_position,                   
                            label: t('contacts.contacts.job_position'),
                            placeholder: t('contacts.contacts.eg_job_position')
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[phone]',
                            value: contact.phone,                   
                            label: t('contacts.contacts.phone'),
                            placeholder: t('contacts.contacts.enter_phone_numbers')
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: 'contact[mobile]',
                            value: contact.mobile,                   
                            label: t('contacts.contacts.mobile'),
                            placeholder: t('contacts.contacts.enter_mobile_numbers')
                        }) %>
                            
                        <%= erp_form_control("email", {
                            name: 'contact[email]',
                            value: contact.email,                   
                            label: t('contacts.contacts.email_address'),
                            help: "user@domain.com",
                            placeholder: t('contacts.contacts.enter_email_address')
                        }) %>
        
                        <%= erp_form_control("text", {
                            name: 'contact[website]',
                            value: contact.website,                   
                            label: t('contacts.contacts.website'),
                            placeholder: t('contacts.contacts.eg_website')
                        }) %>
                        
                        <%= erp_form_control("text", {
                            name: '',
                            value: '',                   
                            label: t('contacts.contacts.tax'),
                            placeholder: t('contacts.contacts.enter_tax')
                        }) %>
        
                        <%= erp_form_control("text", {
                            name: 'contact[fax]',
                            value: contact.fax,
                            label: t('contacts.contacts.fax'),
                            placeholder: t('contacts.contacts.enter_fax'),
                        }) %>
                        
                        <%= erp_form_control("dataselect", {
                            name: 'contact[title_id]',
                            value: contact.title_id,
                            text: contact.display_title,
                            placeholder: t('contacts.contacts.choose_title'),
                            label: t('contacts.contacts.title'),
                            url: erp_contacts.dataselect_backend_titles_path(format: 'json'),
                            create: {
                                url: erp_contacts.new_backend_title_url,
                                title: t('contacts.titles.create'),
                                container_selector: '.new_title',
                                input_selector: 'input[name="title[title]"]'
                            }
                        }) %>
                        
                        <div class="form-group">
                            <label class="control-label">Tags</label>
                            <input type="text" class="form-control" value="" data-role="tagsinput" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_5_1" data-toggle="tab"> <%= t('contacts.contacts.contacts_address') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_2" data-toggle="tab"> <%= t('contacts.contacts.internal_notes') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_3" data-toggle="tab"> <%= t('contacts.contacts.sales_purchases') %> </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_5_1">
                                    <%= erp_form_control("addablelist", {
                                        button_text: t('contacts.contact.add'),
                                        create: {
                                            url: erp_contacts.new_backend_contact_contact_url(contact_id: (contact.id.present? ? contact.id : 0)),
                                            title: t('contacts.contacts.create_contact'),
                                            container_selector: '.new_contact',
                                            modal_size: 'lg',
                                            list_partial: 'backend/contacts_contacts/contact',
                                            list_items: contact.contacts,
                                            list_item: :contact
                                        }
                                    }) %>
                                </div>
                                <div class="tab-pane" id="tab_5_2">
                                    <%= erp_form_control("textarea", {
                                        name: 'contact[internal_note]',
                                        value: contact.internal_note,
                                        label: '',
                                        placeholder: t('contacts.contacts.enter_internal_notes')
                                    }) %>
                                </div>                
                                <div class="tab-pane" id="tab_5_3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4><%= t('contacts.contacts.sale') %></h4>
                                            <%= erp_form_control('checkbox', {
                                                name: '',
                                                id: '',
                                                label: '',
                                                options: [{value: '1', text: t('contacts.contacts.is_a_customer')}]
                                            }) %>
                                            <%= erp_form_control("dataselect", {
                                                name: '',
                                                value: '1',
                                                text: 'Hung Nguyen',
                                                placeholder: '',
                                                label: t('contacts.contacts.salesperson'),
                                                url: erp_contacts.dataselect_backend_titles_path(format: 'json')
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <h4><%= t('contacts.contacts.purchases') %></h4>
                                            <%= erp_form_control('checkbox', {
                                                name: '',
                                                id: '',
                                                label: '',
                                                options: [{value: '2', text: t('contacts.contacts.is_a_vendor')}]
                                            }) %>
                                        </div>
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: 'nút đang để test',
        class: ''
    }) %>
<% end %>