<%= form_for([erp_contacts, :backend, contact], html: {multipart: true}) do |f| %>
    <div class="form-body">        
        <div class="row">
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-4">
                                <%= erp_form_control('image', {
                                    img_src: contact.image_url.medium,
                                    name: 'contact[image_url]',
                                    width: 150,
                                    height: 150
                                }) %>
                            </div>
                            <div class="col-md-8">
                                <%= erp_form_control("radio", {
                                    name: 'contact[contact_type]',
                                    label: t('.type'),
                                    value: @contact.contact_type,
                                    options: Erp::Contacts::Contact.get_type_options()
                                }) %>
                                <%= erp_form_control("text", {
                                    name: 'contact[code]',
                                    value: contact.code,
                                    label: t('.code'),
                                    placeholder: t('.enter_code'),
                                    required: true,
                                    errors: contact.errors.full_messages_for(:code)
                                }) %>
                                <div class="hiddable-control"
                                     data-cond-item="input[name='contact[contact_type]']"
                                     data-cond-value="<%= Erp::Contacts::Contact::TYPE_PERSON %>">
                                    <%= erp_form_control("text", {
                                        name: 'contact[name]',
                                        value: contact.name,
                                        label: t('.name'),
                                        placeholder: t('.enter_name'),
                                        required: true,
                                        errors: contact.errors.full_messages_for(:name)
                                    }) %>
                                </div>
                                <div class="hiddable-control"
                                     data-cond-item="input[name='contact[contact_type]']"
                                     data-cond-value="<%= Erp::Contacts::Contact::TYPE_COMPANY %>">
                                    <%= erp_form_control("text", {
                                        name: 'contact[company_name]',
                                        value: contact.company_name,
                                        label: t('.company_name'),
                                        placeholder: t('.enter_company_name'),
                                        required: true,
                                        errors: contact.errors.full_messages_for(:company_name)
                                    }) %>
                                </div>
                            </div>
                        </div>
                        <div class="hiddable-control"
                            data-cond-item="input[name='contact[contact_type]']"
                            data-cond-value="<%= Erp::Contacts::Contact::TYPE_PERSON %>">
                            <%= erp_form_control('date', {
                                label: t('.birthday'),
                                name: 'contact[birthday]',
                                value: contact.contact_birthday,
                                placeholder: t('.choose_birthday')
                            }) %>
                            <%= erp_form_control('select', {
                                label: t('.gender'),
                                name: 'contact[gender]',
                                value: contact.gender,
                                options: Erp::Contacts::Contact.get_gender_options()
                            }) %>
                        </div>
                        <%= erp_form_control("text", {
                            name: 'contact[phone]',
                            value: contact.phone,                   
                            label: t('.phone'),
                            placeholder: t('.enter_phone_numbers')
                        }) %>
                        <%= erp_form_control("email", {
                            name: 'contact[email]',
                            value: contact.email,                   
                            label: t('.email_address'),
                            placeholder: t('.enter_email_address')
                        }) %>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <%= erp_form_control("text", {
                            name: 'contact[address]',
                            value: contact.address,                   
                            label: t('.address'),
                            placeholder: t('.enter_address')
                        }) %> 
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("dataselect", {
                                    name: 'contact[country_id]',
                                    value: contact.country_id,
                                    text: contact.country_name,
                                    placeholder: t('.choose_country'),
                                    label: t('.country'),
                                    url: erp_areas.dataselect_backend_countries_path(format: 'json'),
                                    create: {
                                        url: erp_areas.new_backend_country_path,
                                        title: t('.create'),
                                        container_selector: '.new_country',
                                        input_selector: 'input[name="country[name]"]'
                                    },
                                    edit: {
                                        url: erp_areas.edit_backend_country_path(id: ':value'),
                                        title: t('contacts.contacts.edit'),
                                        container_selector: '.edit_country',
                                    }
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control("dataselect", {
                                    name: 'contact[state_id]',
                                    value: contact.state_id,
                                    text: contact.state_name,
                                    placeholder: t('.choose_state'),
                                    label: t('.state'),
                                    url: erp_areas.dataselect_backend_states_path(format: 'json'),
                                    create: {
                                        url: erp_areas.new_backend_state_path,
                                        title: t('.create'),
                                        container_selector: '.new_state',
                                        input_selector: 'input[name="state[name]"]'
                                    },
                                    edit: {
                                        url: erp_areas.edit_backend_state_path(id: ':value'),
                                        title: t('contacts.contacts.edit'),
                                        container_selector: '.edit_state',
                                    },
                                    parent_control: "input[name='contact[country_id]']",
                                    parent_id: "country_id"
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control("text", {
                            name: 'contact[website]',
                            value: contact.website,                   
                            label: t('.website'),
                            placeholder: t('.eg_website')
                        }) %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'contact[tax_code]',
                                    value: contact.tax_code,                   
                                    label: t('.tax_code'),
                                    placeholder: t('.enter_tax_code')
                                }) %>
                            </div>
                            <div class="col-md-6">
                                <%= erp_form_control("text", {
                                    name: 'contact[fax]',
                                    value: contact.fax,
                                    label: t('.fax'),
                                    placeholder: t('.enter_fax'),
                                }) %>
                            </div>
                        </div>
                        <%= erp_form_control("dataselect", {
                            name: 'contact[user_id]',
                            value: contact.user_id,
                            text: contact.staff_name,
                            placeholder: t('.choose_staff'),
                            label: t('.staff'),
                            url: erp.dataselect_backend_users_path(format: 'json')
                        }) %>
                        <%= erp_form_control("dataselect", {
                            name: 'contact[contact_group_id]',
                            value: contact.contact_group_id,
                            text: contact.contact_group_name,
                            placeholder: t('.choose_contact_group'),
                            label: t('.contact_group'),
                            url: erp_contacts.dataselect_backend_contact_groups_path(format: 'json'),
                            create: {
                                url: erp_contacts.new_backend_contact_group_path,
                                title: t('.create'),
                                modal_size: 'lg',
                                container_selector: '.new_contact_group',
                                input_selector: 'input[name="contact_group[name]"]'
                            },
                            edit: {
                                url: erp_contacts.edit_backend_contact_group_path(id: ':value'),
                                title: t('.edit'),
                                modal_size: 'lg',
                                container_selector: '.edit_contact_group',
                            }
                        }) %>
                        <%= erp_form_control("dataselect", {
                            name: 'contact[tag_ids][]',
                            values: (contact.tags.map {|tag| {text: tag.name, value: tag.id}}),
                            multiple: true,
                            label: t('.tags'),
                            url: erp_contacts.dataselect_backend_tags_path(format: 'json'),
                            create: {
                                url: erp_contacts.new_backend_tag_path,
                                title: t('.create'),
                                container_selector: '.new_tag',
                                input_selector: 'input[name="tag[name]"]'
                            }
                        }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-body form">
                        <div class="tabbable-custom ">
                            <ul class="nav nav-tabs ">
                                <li class="active">
                                    <a href="#tab_5_1" data-toggle="tab"> <%= t('.contacts_address') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_2" data-toggle="tab"> <%= t('.payments_prices') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_3" data-toggle="tab"> <%= t('.taxes_commission') %> </a>
                                </li>
                                <li>
                                    <a href="#tab_5_4" data-toggle="tab"> <%= t('.notes') %> </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_5_1">
                                    <%= erp_form_control("addablelist", {
                                        button_text: t('.add'),
                                        create: {
                                            url: erp_contacts.new_backend_contact_contact_path(contact_id: (!contact.id ? '00' : contact.id)),
                                            title: t('.create'),
                                            container_selector: '.new_contact',
                                            modal_size: 'md',
                                            list_partial: 'backend/contacts_contacts/contact',
                                            list_items: contact.contacts,
                                            list_item: :contact
                                        }
                                    }) %>
                                </div>             
                                <div class="tab-pane" id="tab_5_2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'contact[payment_method_id]',
                                                value: contact.payment_method_id,
                                                text: contact.payment_method_name,
                                                placeholder: t('.choose_payment_method'),
                                                label: t('.payment_method'),
                                                url: erp_payments.dataselect_backend_payment_methods_path(format: 'json')
                                            }) %>
                                            <%= erp_form_control("dataselect", {
                                                name: 'contact[payment_term_id]',
                                                value: contact.payment_term_id,
                                                text: contact.payment_term_name,
                                                placeholder: t('.choose_payment_term'),
                                                label: t('.payment_term'),
                                                url: erp_payments.dataselect_backend_payment_terms_path(format: 'json')
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'contact[price_term_id]',
                                                value: contact.price_term_id,
                                                text: contact.price_term_name,
                                                placeholder: t('.choose_price_term'),
                                                label: t('.price_term'),
                                                url: erp_currencies.dataselect_backend_price_terms_path(format: 'json')
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5_3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <%= erp_form_control("dataselect", {
                                                name: 'contact[tax_id]',
                                                value: contact.tax_id,
                                                text: contact.tax_name,
                                                placeholder: t('.choose_tax_default'),
                                                label: t('.tax_default'),
                                                url: erp_taxes.dataselect_backend_taxes_path(format: 'json')
                                            }) %>
                                        </div>
                                        <div class="col-md-6">
                                            <%= erp_form_control("number", {
                                                name: 'contact[commission_percent]',
                                                value: contact.commission_percent,               
                                                label: t('.commission_percent'),
                                                min: 0,
                                                max: 100
                                            }) %>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_5_4">
                                    <%= erp_form_control("textarea", {
                                        name: 'contact[note]',
                                        value: contact.note,
                                        placeholder: t('.enter_note')
                                    }) %>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('.submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('.cancel'),
        href: erp_contacts.backend_contacts_path
    }) %>
<% end %>