<%= form_for([erp_contacts, :backend, contact]) do |f| %>
    <div class="form-body">
        <div class="row">
            <div class="col-md-6">
                <%= erp_form_control("radio", {
                    label: t('type'),
                    radios: [['Individual','person'],['Company','company']]
                })
                %>
                
                <%= erp_form_control("text", {
                    name: 'contact[name]',
                    value: contact.name,                   
                    label: 'Name',
                    help: 'This field is required...',
                    placeholder: 'Enter full name...'
                }) %>
            </div>
            
            <div class="col-md-6">
                <%= erp_form_control("image", {
                    image_url: '',
                    name: ''
                })
                %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <select class="form-control select2" id="form_control_1">
                        <option></option>
                        <optgroup label="Pacific Time Zone">
                            <option value="CA">California</option>
                            <option value="NV">Nevada</option>
                            <option value="OR">Oregon</option>
                            <option value="WA">Washington</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("time", {
                    label: t('birthday'),
                    name: 'contact[birthday]',
                    value: contact.birthday
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:address),
                    help: 'This field is required...',
                    placeholder: "Enter address 1..."
                }) %>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <select class="form-control select2" id="form_control_1">
                        <option value=""></option>
                        <option value="1">Mr</option>
                        <option value="2">Ms</option>
                        <option value="3">Mrs</option>
                        <option value="4">Sir</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:address_2),
                    help: 'This field is required...',
                    placeholder: "Enter address 2..."
                }) %>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:job_position),
                    help: 'This field is required...',
                    placeholder: "E.g. Sales Director"
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 padding-clear">
                <div class="form-group">
                    <div class="col-md-4">
                        <%= erp_form_control("text", {
                            name: '',
                            value: '',                   
                            label: 'City',
                            placeholder: "Enter city..."
                        }) %>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <select class="form-control select2" id="form_control_1">
                                <option value=""></option>
                                <option value="1">California</option>
                                <option value="2">...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <%= erp_form_control("text", {
                            name: '',
                            value: '',                   
                            label: t('zip_code'),
                            help: 'This field is required...',
                            placeholder: "Enter ZIP Code..."
                        }) %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:phone),
                    help: 'This field is required...',
                    placeholder: "Enter phone number..."
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <select class="form-control select2" id="form_control_1">
                            <option value=""></option>
                            <option value="1">Vietnam</option>
                            <option value="2">USA</option>
                            <option value="1">England</option>
                            <option value="2">Australia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:mobile),
                    help: 'This field is required...',
                    placeholder: "Enter mobile number..."
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:website),
                    help: 'This field is required...',
                    placeholder: "E.g. https://www.globalnaturesoft.com"
                }) %>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("text", {
                    name: '',
                    value: '',                   
                    label: t(:fax),
                    help: 'This field is required...',
                    placeholder: "Enter fax..."
                }) %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text" class="form-control" value="" data-role="tagsinput" />
                </div>
            </div>
            <div class="col-md-6">
                <%= erp_form_control("email", {
                    name: '',
                    value: '',                   
                    label: t(:email_address),
                    help: "user@domain.com",
                    placeholder: "Enter your email..."
                }) %>
            </div>
        </div>
        
        <!-- TAB -->
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_0" data-toggle="tab"> Contacts & Addresses </a>
                        </li>
                        <li>
                            <a href="#tab_1" data-toggle="tab"> Internal Note </a>
                        </li>
                        <li>
                            <a href="#tab_2" data-toggle="tab"> Sales & Purchases </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_0">
                             <a href="javascript:;" class="btn btn-xs blue"> Create <i class="icon-plus"> </i></a>
                        </div>
                        <div class="tab-pane" id="tab_1">
                            <div class="row">
                                <div class="col-md-12">
                                    <%= erp_form_control("textarea", {
                                        name: '',
                                        value: '',                   
                                        label: '',
                                        placeholder: "Internal note..."
                                    }) %>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <i class="fa fa-line-chart font-sunglo"></i>
                                        <span class="caption-subject bold uppercase"> Sale</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <i class="fa fa-opencart font-sunglo"></i>
                                        <span class="caption-subject bold uppercase"> Purchase</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Is a Customer</label>
                                        <div class="col-md-9 md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox6" class="md-check">
                                                <label for="checkbox6">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Is a Vendor</label>
                                        <div class="col-md-9 md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="checkbox7" class="md-check">
                                                <label for="checkbox7">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" for="form_control_1">Salesperson</label>
                                        <div class="col-md-9">
                                            <select class="form-control" id="form_control_1">
                                                <option value=""></option>
                                                <option value="">Option 1</option>
                                                <option value="">Option 2</option>
                                                <option value="">Option 3</option>
                                                <option value="">Option 4</option>
                                            </select>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption font-sunglo">
                                        <span class="caption-subject bold uppercase"> Misc</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">Internal Reference</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%= erp_component('button/save', {
        text: t('contacts.title.submit'),
        class: ''
    }) %>
<% end %>