<% uid = unique_id %>
<% if @sales_orders.empty? and @payment_records.empty? %>
    <div class="alert alert-warning no-margin">Không tìm thấy có giao dịch nào gần đây!</div>
<% else %>
    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#tab_<%= uid %>_1" data-toggle="tab">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Hóa đơn mua hàng
                </a>
            </li>
            <li>
                <a href="#tab_<%= uid %>_2" data-toggle="tab">
                    <i class="glyphicon glyphicon-usd"></i>
                    Lịch sử thanh toán
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <% if @sales_orders.empty? %>
                <div class="alert alert-warning alert-dismissable no-margin">Không tìm thấy giao dịch mua hàng nào gần đây</div>
            <% else %>
                <div class="tab-pane active" id="tab_<%= uid %>_1">
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr>
                                <th width="30%" class="bg-yellow bg-font-yellow text-nowrap text-center">Mã hóa đơn</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-center">Ngày đặt hàng</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-center">Số lượng</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-center">Thành tiền</th>
                                <th width="" class="bg-yellow bg-font-yellow text-nowrap text-center">N.viên kinh doanh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="bg-green" colspan="2"><strong>  </strong></td>
                                <td class="bg-green text-center">
                                    <strong><%= @sales_orders.sum(&:items_count) %></strong>
                                </td>
                                <td class="bg-green text-right">
                                    <strong><%= format_price(@sales_orders.sum(&:total)) %></strong>
                                </td> <!-- @todo sum total for orders -->
                                <td class="bg-green"></td>
                            </tr>
                            <% @sales_orders.each do |order| %>
                                <tr>
                                    <td class="text-center">
                                        <strong><%= order_link(order) %>
                                       
                                    </strong></td> <!-- @todo modal link_to for order details -->
                                    <td class="text-center"><%= format_date(order.order_date) %></td>
                                    <td class=" text-center"><%= order.items_count %></td>
                                    <td class=" text-right"><%= format_price(order.cache_total) %></td>
                                    <td class="text-left"><%= order.employee_name %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
            
            <div class="tab-pane" id="tab_<%= uid %>_2">
                <% if @payment_records.empty? %>
                    <div class="alert alert-warning alert-dismissable no-margin">Không tìm thấy giao dịch thanh toán nào gần đây</div>
                <% else %>
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr>
                                <th width="15%" class="text-left bg-yellow bg-font-yellow text-nowrap"><%= t('.payment_code') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.payment_type') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap"><%= t('.contact') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.amount') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.payment_date') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-right"><%= t('.description') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-center"><%= t('.accountant') %></th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-left"><%= t('.actions') %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @payment_records.each do |payment_record| %>
                                <tr>                            
                                    <td class="text-left">
                                        <strong><%= payment_record.code %></strong>
                                    </td>
                                    <td class="text-left"><%= payment_record.is_receipt_voucher? ? t('.receive') : t('.pay') %></td>
                                    <td class="text-left"><%= payment_record.customer_name %></td>
                                    <td class="text-right"><%= format_price(payment_record.amount) %></td>
                                    <td class="text-right"><%= format_date(payment_record.payment_date) %></td>
                                    <td class="text-right"><%= payment_record.description %></td>
                                    <td class="text-center">
                                        <%= payment_record.accountant_name %>
                                    </td>
                                    <td>
                                        <%= accounting_payment_record_dropdown_actions(payment_record) %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
    </div
<% end %>