<% if @product_returns.count > 0 %>
    <table class="table table-bordered table-advance order-column">
        <thead class="flip-content">
            <tr>
                <td class="text-center bold" colspan="5">Tổng trả</td>
                <td class="stock-num text-center bold font-red-thunderbird"><%= @full_product_returns.total_delivery_quantity %></td>
                <td class="stock-num text-right bold font-red-thunderbird"><%= format_number(@full_product_returns.total_amount) %></td>
            </tr>
            <tr>
                <th  width="12%" class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Ngày trả hàng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Mã trả hàng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Tên bệnh nhân</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-left">Sản phẩm</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Đơn giá</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-center">Số lượng</th>
                <th class="bg-blue-madison bg-font-blue-madison border-blue-madison text-nowrap text-right">Tổng cộng</th>
            </tr>
        </thead>
        <tbody>
            <% @product_returns.each do |product_return| %>
                <tr>
                    <td class="bg-grey bg-font-grey text-center text-nowrap"><%= format_date(product_return.date) %></td>
                    <td class="bg-grey bg-font-grey text-center"><%= qdelivery_link(product_return) %></td>
                    <td class="bg-grey bg-font-grey text-left" colspan="3">
                        
                    </td>
                    <td class="bg-grey bg-font-grey text-center bold"><%= format_number(product_return.total_delivery_quantity) %></td>
                    <td class="bg-grey bg-font-grey text-right bold"><%= format_number(product_return.total_amount) %></td>
                </tr>
                <% product_return.delivery_details.each do |delivery_detail| %>
                    <tr>
                        <td class="text-left" colspan="2"></td>
                        <td class="text-left">
                            <%= delivery_detail.get_patient_name %>
                            <%= "(#{delivery_detail.get_patient_state_name})" if delivery_detail.get_patient_state_name.present? %>
                        </td>
                        <td class="text-left"><%= delivery_detail.product_name %></td>
                        <td class=" text-right"><%= format_number(delivery_detail.price) %></td>
                        <td class=" text-center"><%= format_number(delivery_detail.quantity) %></td>
                        <td class=" text-right"><%= format_number(delivery_detail.cache_total) %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    <%= erp_datalist_pagination(@product_returns) %>
<% else %>
    <div class="alert alert-warning alert-dismissable no-margin text-center">
        Không tìm thấy lịch sử trả hàng hàng
    </div>
<% end %>