<% content_for :title do %>
    <%= t('.contacts') %>
<% end %>

<% content_for :page_title do %>
    <i class="icon-users"></i> <%= t('.contacts') %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_contacts.new_backend_contact_path
    }) %>
<% end %>

<% content_for :global_filter do %>
    <% if Erp::Core.available?("ortho_k") %>
        <div class="row top-datalist">
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'contact_group_id',
                    label: 'Nhóm liên hệ',
                    placeholder: 'Tìm theo nhóm',
                    url: erp_contacts.dataselect_backend_contact_groups_path(format: 'json'),
                }) %>
            </div>
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'salesperson_id',
                    label: 'Nhân viên phụ trách',
                    placeholder: 'Tìm theo nhân viên phụ trách',
                    url: erp.dataselect_backend_users_path(format: 'json')
                }) %>
            </div>
        </div>
    <% end %>
<% end %>

<%= erp_datalist(
    url: erp_contacts.list_backend_contacts_path,
    keyword: true,
    actions: [
        {
            text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
            url: erp_contacts.archive_all_backend_contacts_path,
            data_method: 'PUT',
            data_confirm: t('.archive_confirm')
        },
        {
            text: '<i class="fa fa-eye"></i> '+t('unarchive'),
            url: erp_contacts.unarchive_all_backend_contacts_path,
            data_method: 'PUT',
            data_confirm: t('.unarchive_confirm')
        }
    ],
    filters: [
        {
            text: t('.customers'), name: 'is_customer', value: true, checked: false
        },
        {
            text: t('.vendors'), name: 'is_supplier', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.persons'), name: 'contact_type', value: Erp::Contacts::Contact::TYPE_PERSON, checked: false
        },
        {
            text: t('.companies'), name: 'contact_type', value: Erp::Contacts::Contact::TYPE_COMPANY, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.contact_archived'), name: 'show_archived', value: true, checked: false
        },
    ],
    columns: [
        {
            text: t('.code'), name: 'code', value: true, checked: true
        },
        {
            text: t('.name'), name: 'name', value: true, checked: true
        },
        {
            text: t('.name'), name: 'name', value: true, checked: true
        },
        {
            text: t('.contact_type'), name: 'contact_type', value: true, checked: true
        },
        {
            text: t('.phone'), name: 'phone', value: true, checked: true
        },
        {
            text: t('.email'), name: 'email', value: true, checked: false
        },
        {
            text: t('.address'), name: 'address', value: true, checked: false
        },
        {
            text: t('.parent_contact'), name: 'parent_contact', value: true, checked: true
        },
        {
            text: t('.salesperson'), name: 'salesperson', value: true, checked: true
        },
        {
            text: t('status'), name: 'status', value: true, checked: true
        },
        {
            text: t('creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('created_at'), name: 'created_at', value: true, checked: false
        }
    ],
    sort: { sort_by: 'erp_contacts_contacts.created_at', sort_direction: 'desc' }
) %>
