<table class="table table-advance table-hover table-striped table-checkable order-column" id="">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_contacts_contacts.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("contact_type") %>
                <th>
                    <%= t('.contact_type') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("phone") %>
                <th>
                    <%= t('.phone') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("email") %>
                <th>
                    <%= t('.email') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('.status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('.creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_contacts_contacts.created_at'>
                    <%= t('.created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('.actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @contacts.each do |contact| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: contact.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                <td><%= link_to contact.name, [:backend, contact] %></td>
                <% end %>
                <% if get_columns(params).include?("contact_type") %>
                <td><%= t("#{contact.contact_type}") %></td>
                <% end %>
                <% if get_columns(params).include?("phone") %>
                <td><%= contact.phone %></td>
                <% end %>
                <% if get_columns(params).include?("email") %>
                <td><%= contact.email %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if contact.archived == true %>
                    <span class="label label-sm label-danger"><%= t('.archived') %></span>
                    <% else %>
                    <span class="label label-sm label-success"><%= t('.active') %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                <td></td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                <td><%= contact.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                                href: erp_contacts.edit_backend_contact_path(contact)
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('.archive'),
                                url: erp_contacts.archive_backend_contacts_path(id: contact.id),
                                data_method: 'PUT',
                                hide: contact.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('.unarchive'),
                                url: erp_contacts.unarchive_backend_contacts_path(id: contact.id),
                                data_method: 'PUT',
                                hide: !contact.archived,
                                class: 'ajax-link'
                            },
                            { divider: true },
                            {
                              text: '<i class="fa fa-trash"></i> '+t('.delete'),
                              url: erp_contacts.backend_contact_path(contact),
                              data_method: 'DELETE',
                              data_confirm: t('.delete_confirm'),
                              class: 'ajax-link'
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="6"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
    
<%= erp_datalist_pagination(@contacts) %>
