<% content_for :title do %>
    <%= t('.create') %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_contacts.backend_contacts_path %>">
    <i class="fa fa-users"></i> <%= t('.contacts') %>
    </a> / <%= t('.create') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <% if @contact.errors.any? %>
            <%= erp_form_control("form_error_message") %>
        <% end %>
        <h3>
            <span aria-hidden="true" class="icon-user-follow"></span> <%= t('.contact_details') %>
        </h3>
        
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <%= render 'form', contact: @contact %>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</div>