<% content_for :title do %>
    <%= @contact.contact_name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_contacts.backend_contacts_path %>">
        <i class="icon-users"></i> <%= t('.contacts') %>
    </a> / <%= @contact.contact_name %>
    <% if @contact.archived == true %>
        <%= erp_component('label/danger', {
            text: t('archived')
        }) %>
    <% else %>
        <%= erp_component('label/success', {
            text: t('active')
        }) %>
    <% end %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_contacts.new_backend_contact_path
    }) if can? :create, @contact %>
    
    <%= erp_component('button/edit', {
        text: t('.edit'),
        href: erp_contacts.edit_backend_contact_path(@contact)
    }) if can? :update, @contact %>
    
    <%=
    actions = []
    
    actions << {
        text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
        url: erp_contacts.archive_backend_contacts_path(id: @contact.id),
        data_method: 'PUT',
        class: 'link-method'
    } if can? :archive, @contact
    
    actions << {
        text: '<i class="fa fa-eye"></i> '+t('unarchive'),
        url: erp_contacts.unarchive_backend_contacts_path(id: @contact.id),
        data_method: 'PUT',
        class: 'link-method'
    } if can? :unarchive, @contact
    
    erp_component('button/actions', {
        actions: actions,
        text: t('actions'),
        class: 'btn-noborder'
    }) if !actions.empty? %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <%= render 'detail', contact: @contact %>            
    </div>
</div>