<% content_for :title do %>
    <%= @contact.name %>
<% end %>

<% content_for :page_title do %>    
    <a href="<%= erp_contacts.backend_contacts_path %>">
        <i class="fa fa-users"></i> <%= t('.contacts') %>
    </a> / <%= @contact.name %>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create'),
        href: erp_contacts.new_backend_contact_path,
        class: 'btn-sm'
    }) %>
    <%= erp_component('button/actions', {
        actions:
        [
            {
                text: '<i class="fa fa-edit"></i> '+t('.edit'),
                href: erp_contacts.edit_backend_contact_path(@contact)
            },
            {
                text: '<i class="fa fa-check"></i> '+t('.unarchive'),
                href: '',
                hide: !@contact.archived
            },
            {
                text: '<i class="fa fa-exclamation"></i> '+t('.archive'),
                href: '',
                hide: @contact.archived
            },
            {divider: true},
            {
                text: '<i class="glyphicon glyphicon-trash"></i> '+t('.delete'),
                href: erp_contacts.backend_contact_path(@contact),
                data_method: 'DELETE',
                data_confirm: t('.delete_confirm'),
                class: 'ajax-link'
            }
        ],
        text: t('.actions'),
        class: 'btn-sm'
    }) %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h3>
            <span aria-hidden="true" class="icon-user-follow"></span> <%= t('.contact_details') %>
        </h3>
         <%= render 'detail', contact: @contact %>            
    </div>
</div>